<body class="container">

    <h4 class="mb-3">Administrar <b>Tipos de avión</b></h4>

    <div class="row">
        <form class="" [formGroup]="postForm" (ngSubmit)="submitForm()">

            <div class="col-md-6">
                <div class="mb-3">
                    <label for="inputNombre" class="form-label">Marca</label>
                    <input formControlName="marca" type="text" class="form-control" aria-describedby="emailHelp">
                    <span *ngIf="marca?.invalid" class="text-danger">La marca es requerido</span>
                </div>
                <div class="mb-3">
                    <label for="inputModelo" class="form-label">Modelo</label>
                    <input formControlName="modelo" type="text" class="form-control" aria-describedby="emailHelp">
                    <span *ngIf="modelo?.invalid" class="text-danger">La modelo es requerido</span>
                </div>
            </div>
           
            <div class="mb-3">
                <label for="inputAnnio" class="form-label">Año</label>
                <div class="col-md-2">
                    <input formControlName="annio" type="text" class="form-control" aria-describedby="emailHelp">
                    <span *ngIf="annio?.invalid" class="text-danger">Requerido</span>
                </div>
            </div>
           
    
            <button type="submit" class="btn btn-primary">Listo</button>
        </form>
    </div>
    


</body>