<body class="m-0 row justify-content-center">
    

    <div class="mt-5 col-10">
<div class="mt-5">
    <form [formGroup]="postForm" (ngSubmit)="submitForm()">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input formControlName="nombre" type="text" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Correo</label>
            <input formControlName="nombre" type="email" class="form-control" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>
</body>