<div class="container">
    <form class="needs-validation" id="formDe">
        <div class="row justify-content-center mb-5">
            <div class="col-md-3">
                <div class="col-md-12">
                    <input type="date" class="form-control">
                </div>
                <div class="col-md-12">
                    <input type="number" class="form-control">
                </div>
            </div>
            <div class="col-md-9">
                <h5>Rutas</h5>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Salida</th>
                            <th scope="col">Destino</th>
                            <th scope="col">Duracion</th>
                            <th scope="col">Avion</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                            <a class="btn rounded"
                                style="background-color: '#16697A'; color: #fff;">Seleccionar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>