<div class="container">
    <form [formGroup]="formRutas" id="formRutas" name="formRutas" (ngSubmit)="submitForm()">
        <div class="row justify-content-center mb-5">
            <div class="col-md-3">
                <div class="col-md-12 mb-3">
                    <label for="inputAction" class="form-label" id="inputSalidaLabel">Salida</label>
                    <input type="text" class="form-control" id="inputSalida" formControlName="salida">
                    <small id="helpId" class="form-text text-muted">Lugar de salida</small>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="inputDestino" class="form-label" id="inputDestinoLabel">Destino</label>
                    <input type="text" class="form-control" id="inputDestino" formControlName="destino">
                    <small id="helpId" class="form-text text-muted">Lugar de destino</small>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12 mb-3">
                        <label for="inputDuracion" class="form-label" id="inputDuracion">Duracion</label>
                        <ngb-timepicker formControlName="duracion"></ngb-timepicker>
                        <small id="helpId" class="form-text text-muted">Seleccione la duracion del vuelo</small>
                    </div>
                    <!-- <pre>Selected time: {{time | json}}</pre> -->
                </div>
                <div class="col-md-12 mb-3">
                    <label for="selectAviones" class="form-label">Seleccione un avion</label>
                    <select class="form-select" formControlName="aviones">
                        <option *ngFor="let avion of arrayAviones" value="{{avion._id}}">
                            {{avion.descripcion}}
                        </option>
                    </select>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="col-md-4 text-center">
                        <button type="submit" class="btn btn-secondary pr-3 " id="btnEditar" hidden style="background-color: '#16697A'; color: #fff;">Editar</button>
                    </div>
                    <div class="col-md-4 text-center" id="divBtnNuevo">
                        <button type="submit" class="btn pr-3" id="btnNuevo" style="background-color: '#16697A'; color: #fff;">Nuevo</button>
                    </div>
                    <div class="col-md-4 text-center">
                        <button type="button" class="btn btn-secondary pr-3 " id="btnCancelar" (click)="cancelar()" hidden>Cancelar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <h5>Rutas</h5>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Salida</th>
                            <th scope="col">Destino</th>
                            <th scope="col">Duracion</th>
                            <th scope="col">Avion</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ruta of rutas">
                            <td>{{ruta.salida}}</td>
                            <td>{{ruta.destino}}</td>
                            <td>{{ruta.duracion | date:'h:mm'}}</td>
                            <td *ngIf="ruta.aviones[0] !== undefined && ruta.aviones[0] !== null">
                                {{ruta.aviones[0].descripcion}}</td>
                            <td>
                                <a (click)="delete(ruta._id)" class="btn btn-danger rounded me-2">Eliminar</a>
                                <a (click)="verRegistro(ruta._id)" class="btn rounded" style="background-color: '#16697A'; color: #fff;">Ver</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>