<div class="container">
    <form class="needs-validation" id="formRutas">
        <div class="row justify-content-center mb-5">
            <div class="col-md-3">
                <div class="col-md-12 mb-3">
                    <label for="inputAction" class="form-label" id="inputSalidaLabel">Salida</label>
                    <input type="text" class="form-control" id="inputSalida">
                    <small id="helpId" class="form-text text-muted">Lugar de salida</small>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="inputDestino" class="form-label" id="inputDestinoLabel">Destino</label>
                    <input type="text" class="form-control" id="inputDestino">
                    <small id="helpId" class="form-text text-muted">Lugar de destino</small>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="inputHoras" class="form-label" id="inputHorasLabel">Horas</label>
                        <input type="number" class="form-control" id="inputHoras" min="0" value="0">
                        <small id="helpId" class="form-text text-muted">Horas de duracion</small>
                    </div>
                    <div class="col-md-6">
                        <label for="inputMinutos" class="form-label" id="inputMinutosLabel">Minutos</label>
                        <input type="number" class="form-control" id="inputMinutos" min="0" max="59" value="0">
                        <small id="helpId" class="form-text text-muted">Minutos de duracion</small>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="selectAviones" class="form-label">Seleccione un avion</label>
                    <select class="form-select">
                        <option *ngFor="let avion of aviones" value="{{avion._id}}">
                            {{avion.descripcion}}
                        </option>
                    </select>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="col-md-4 text-center">
                        <button type="button" class="btn btn-secondary pr-3 " id="btnEditar">Editar</button>
                    </div>
                    <div class="col-md-4 text-center">
                        <button type="button" class="btn btn-primary pr-3 " id="btnNuevo">Nuevo</button>
                    </div>
                    <div class="col-md-4 text-center">
                        <button type="button" class="btn btn-secondary pr-3 " id="btnCancelar">Cancelar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <h5>Rutas</h5>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Salida</th>
                            <th scope="col">Destino</th>
                            <th scope="col">Duracion</th>
                            <th scope="col">Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ruta of rutas">
                            <td>{{ruta.salida}}</td>
                            <td>{{ruta.destino}}</td>
                            <td>{{ruta.duracion}}</td>
                            <td><a href="#editEmployeeModal" class="edit btn btn-small btn-primary rounded me-2"
                                    data-toggle="modal"><i class="far fa-edit"></i>Editar</a>
                                <a  class="delete btn  btn-small btn-danger rounded"
                                    data-toggle="modal"><i class="far fa-trash-alt"></i>Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>