<div class="text-center">

    <h4>Administrar Tipos de Aviones</h4>

    <table class="table table-striped table-hover mt-5">
        <thead>
            <tr>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Año</th>
                <th scope="col">Activo</th>
                <th scope="col">Cantidad de Pasajeros</th>
                <th scope="col">Cantidad de Filas</th>
                <th scope="col">Cantidad de Asientos X Fila</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tipo of tipoAviones">
                <td>{{tipo.marca}}</td>
                <td>{{tipo.modelo}}</td>
                <td>{{tipo.annio}}</td>
                <td>{{tipo.activo}}</td>
                <td>{{tipo.cantPasajeros}}</td>
                <td>{{tipo.cantFilas}}</td>
                <td>{{tipo.cantAsientosPorFila}}</td>

                                  
            </tr>

        </tbody>
    </table>
</div>
