<nav class="navbar navbar-expand-lg navbar-light navStyle mb-5">
    <a class="navbar-brand logo" href="/inicio"><span>Neo</span> Air System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a class="nav-link " href="/admin">Perfil</a></li>
            <li class="nav-item"><a class="nav-link " href="/horarios">Horarios</a></li>
            <li class="nav-item"><a class="nav-link " href="/rutas">Rutas</a></li>
            <li class="nav-item"><a class="nav-link " href="/tipoAvion">Tipos de Avión</a></li>
            <li class="nav-item"><a class="nav-link " href="/aviones">Aviones</a></li>

            <!-- <li class="nav-item"><a class="nav-link " href="/blog">Blog</a></li>
                <li class="nav-item" *ngIf="!isLoggedIn"><a class="nav-link px-lg-3 py-3 py-lg-4"  href="/register">Register</a></li>
                <li class="nav-item" *ngIf="!isLoggedIn"><a class="nav-link px-lg-3 py-3 py-lg-4"  href=   "/login">Login</a></li>
                <li class="nav-item"*ngIf="isLoggedIn" ><a href="#" class="nav-link px-lg-3 py-3 py-lg-4" (click)="logout()">{{username}} - LogOut</a> -->
        </ul>  
        <div ngbDropdown class="nav-item-dropdown divDropdown">
            <button class="btn" id="dropdownBasic1" ngbDropdownToggle>Nombre Perfil</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="background-color: #16697A;">
                <a ngbDropdownItem class="dropdown-item" href="/admin">Mi perfil</a>
                <a ngbDropdownItem class="dropdown-item" href="/admin">Cerrar Sesión</a>
            </div>
          </div>
    </div>
</nav>
<router-outlet></router-outlet>