<div class="container">
    <form [formGroup]="formOfertas" id="formRutas" name="formOfertas" (ngSubmit)="submitForm()">
        <div class="row justify-content-center mb-5">
            <div class="col-md-3">
                <div class="col-md-12 mb-3">
                    <label for="inputAction" class="form-label" id="inputFechaVencimientoLabel">Vencimiento</label>
                    <input type="date" class="form-control" id="inputFechaVencimiento" formControlName="fechaVencimiento">
                    <small id="helpId" class="form-text text-muted">Fecha de vencimiento</small>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="inputAction" class="form-label" id="inputDescuentoLabel">Descuento %</label>
                    <input type="number" min="0" max="100" class="form-control" id="inputFechaVencimiento" formControlName="descuento" placeholder="30">
                    <small id="helpId" class="form-text text-muted">Porcentaje de descuento</small>
                </div>
                <hr>
                <div class="row justify-content-center mb-3">
                    <div class="col-md-4 text-center">
                        <button type="submit" class="btn btn-secondary pr-3 " id="btnEditar" hidden style="background-color: '#16697A'; color: #fff;">Editar</button>
                    </div>
                    <div class="col-md-4 text-center" id="divBtnNuevo">
                        <button type="submit" class="btn pr-3" id="btnNuevo" style="background-color: '#16697A'; color: #fff;">Nuevo</button>
                    </div>
                    <div class="col-md-4 text-center">
                        <button type="button" class="btn btn-secondary pr-3 " id="btnCancelar" (click)="cancelar()" hidden>Cancelar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <h5>Tiquetes disponibles</h5>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Salida</th>
                            <th scope="col">Destino</th>
                            <th scope="col">Duracion</th>
                            <th scope="col">Avion</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr *ngFor="let ruta of rutas">
                            <td>{{ruta.salida}}</td>
                            <td>{{ruta.destino}}</td>
                            <td>{{ruta.duracion | date:'h:mm'}}</td>
                            <td *ngIf="ruta.aviones[0] !== undefined && ruta.aviones[0] !== null">
                                {{ruta.aviones[0].descripcion}}</td>
                            <td>
                                <a (click)="delete(ruta._id)" class="btn btn-danger rounded me-2">Eliminar</a>
                                <a (click)="verRegistro(ruta._id)" class="btn rounded" style="background-color: '#16697A'; color: #fff;">Ver</a>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-9">
                <h5>Ofertas</h5>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Fecha de creacion</th>
                            <th scope="col">Fecha de vencimiento</th>
                            <th scope="col">Descuento</th>
                            <th scope="col">Tiquete</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let oferta of ofertas">
                            <td>{{oferta.fechaCreacion | date:'dd-MM-YYYY'}}</td>
                            <td>{{oferta.fechaVencimiento | date:'dd-MM-YYYY'}}</td>
                            <!-- <td>{{horario.fechaHoraLlegada | date:'dd-MM-YYYY h:mm a'}}</td> -->
                            <td>
                                <a (click)="delete(oferta._id)" class="btn btn-danger rounded me-2">Eliminar</a>
                                <a (click)="verRegistro(oferta._id)" class="btn rounded" style="background-color: '#16697A'; color: #fff;">Ver</a>
                            </td> 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
